<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.relex.showcase.db.mapper.IUserMapper">

    <!-- <insert id="createUser">
        INSERT INTO demo.users(role_id, first_name, last_name, login, password, middle_name)
        VALUES (#{role}, #{firstName}, #{lastName}, #{login}, #{password}, #{middleName})
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            SELECT currval('demo.users_user_id_seq')
        </selectKey>
    </insert> -->

    <select id="createUser" resultType="User">
        INSERT INTO demo.users(role_id, first_name, last_name, login, password, middle_name)
        VALUES (#{role}, #{firstName}, #{lastName}, #{login}, #{password}, #{middleName})
        RETURNING user_id as id,
                  first_name,
                  last_name,
                  middle_name,
                  role_id as role,
                  login,
                  password
    </select>

    <select id="getUserById" resultType="User">
        SELECT user_id as id,
               first_name,
               last_name,
               middle_name,
               role_id as role,
               login,
               password
        FROM demo.users
        WHERE user_id = #{id}
    </select>

    <select id="listUsers" resultType="User">
        SELECT user_id as id,
               first_name,
               last_name,
               middle_name,
               role_id as role,
               login,
               password
        FROM demo.users
    </select>

    <delete id="deleteUser">
        DELETE
        FROM demo.users
        WHERE user_id = #{id}
    </delete>
</mapper>