<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.relex.hotelteam.db.mapper.IBookingMapper">

  <resultMap id="bookingMap" type="Booking">
    <id property="id" column="booking_id"/>
    <result property="userId" column="user_id"/>
    <result property="roomId" column="room_id"/>
    <result property="checkInDate" column="check_in"/>
    <result property="checkOutDate" column="check_out"/>
    <result property="realCheckInDate" column="real_check_in"/>
    <result property="realCheckOutDate" column="real_check_out"/>
  </resultMap>

  <resultMap id="bookingFullMap" type="BookingFull">
    <result property="roomId" column="room_id"/>
    <result property="categoryName" column="category_name"/>
    <result property="dailyPrice" column="daily_Price"/>
    <result property="typeId" column="type_id"/>
    <result property="twinBed" column="twin_bed"/>
    <result property="bookingId" column="booking_id"/>
    <result property="userId" column="user_id"/>
    <result property="checkInDate" column="check_in"/>
    <result property="checkOutDate" column="check_out"/>
    <result property="realCheckInDate" column="real_check_in"/>
    <result property="realCheckOutDate" column="real_check_out"/>
    <collection autoMapping="true" ofType="ru.relex.hotelteam.db.domain.Facility"
      property="facilities" resultSet="facilities">
      <id column="facility_id" property="id"/>
      <result column="name" property="name"/>
    </collection>
  </resultMap>

  <sql id="getAllBookings">
      SELECT
            booking_id,
            user_id,
            room_id,
            check_in,
            check_out,
            real_check_in,
            real_check_out
      FROM inprog.bookings
  </sql>

  <sql id="getActiveBookings">
      SELECT
            booking_id,
            user_id,
            room_id,
            check_in,
            check_out,
            real_check_in,
            real_check_out
      FROM inprog.reservations_history_view
  </sql>

  <select id="createBooking" resultType="Booking">
    INSERT INTO inprog.bookings(user_id, check_in, check_out, room_id)
    VALUES (#{userId}, #{checkInDate}, #{checkOutDate}, #{roomId})
    RETURNING
      booking_id as id,
      user_id as userId,
      room_id as roomId,
      check_in as checkInDate,
      check_out as checkOutDate
  </select>

  <select id="getBookingById" resultMap="bookingMap">
    <include refid="getAllBookings"/>
    WHERE booking_id = #{id}
  </select>

  <select id="getBookingsBetweenDates" resultMap="bookingMap">
    <include refid="getAllBookings"/>
    WHERE
    room_id = #{roomId}
    AND NOT
    inprog.is_free(#{roomId}, #{from}, #{to})
    AND
    extract(year from #{from}) = extract(year from check_in)
  </select>

  <select id="listBookingsByUserId" resultMap="bookingMap">
    <include refid="getAllBookings"/>
    WHERE user_id = #{userId}
  </select>

  <select id="listBookingsByRoomId" resultMap="bookingMap">
    <include refid="getAllBookings"/>
    WHERE room_id = #{roomId}
  </select>

  <select id="listBookings" resultMap="bookingMap">
    <include refid="getAllBookings"/>
  </select>

  <select id="listActiveBookings" resultMap="bookingMap">
    <include refid="getAllBookings"/>
    WHERE real_check_in IS NULL AND real_check_out IS NULL
  </select>

  <select id="listActiveBookingsForUser" resultMap="bookingMap">
    <include refid="getActiveBookings"/>
    WHERE user_id = #{userId} and real_check_in IS NULL AND real_check_out IS NULL
  </select>

  <select id="getBookingHistoryForUser" resultMap="bookingFullMap">
    SELECT *
	  FROM inprog.reservations_history_view
	  WHERE user_id = #{userId}
  </select>

  <update id="updateBooking" parameterType="Booking">
    UPDATE inprog.bookings
    <set>
      <if test="roomId != null and not roomId = 0">room_id = #{roomId},</if>
      <if test="userId != null and not userId = 0">user_id = #{userId},</if>
      <if test="checkInDate != null">check_in = #{checkInDate},</if>
      <if test="checkOutDate != null">check_out = #{checkOutDate},</if>
      <if test="realCheckInDate != null">real_check_in = #{realCheckInDate},</if>
      <if test="realCheckOutDate != null">real_check_out = #{realCheckOutDate}</if>
    </set>
    WHERE booking_id = #{id}
  </update>

  <update id="updateRealCheckDate" parameterType="Booking">
    UPDATE inprog.bookings
    <set>
      <if test="realCheckIn != null">real_check_in = #{realCheckIn},</if>
      <if test="realCheckOut != null">real_check_out = #{realCheckOut}</if>
    </set>
    WHERE booking_id = #{id}
  </update>

  <delete id="deleteBooking">
        DELETE
        FROM inprog.bookings
        WHERE booking_id = #{id}
  </delete>

</mapper>