<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.relex.hotelteam.db.mapper.IBookingPaymentMapper">

  <resultMap id="bookingPaymentMap" type="BookingPayment">
    <id property="id" column="payment_id"/>
    <result property="userId" column="user_id"/>
    <result property="bookingId" column="booking_id"/>
  </resultMap>

  <select id="createPayment" resultType="BookingPayment">
    INSERT INTO inprog.payments(user_id, booking_id, date, total)
    VALUES (#{userId}, #{bookingId}, #{timePayment},inprog.total_price(#{roomId}, #{amountOfDays}))

    RETURNING
      user_id as userId,
      booking_id as bookingId,
      date,
      total
  </select>

  <select id="getPaymentById" resultMap="bookingPaymentMap">
        SELECT
               user_id,
               booking_id,
               date,
               total

        FROM inprog.payments
        WHERE payment_id = #{id}
    </select>

  <select id="listPayments" resultMap="bookingPaymentMap">
        SELECT
               user_id,
               booking_id,
               date,
               total
        FROM inprog.payments
        WHERE booking_id = #{bookingId}
    </select>

  <select id="getPaymentByBookingId" resultMap="bookingPaymentMap">
        SELECT
               user_id,
               date,
               total
        FROM inprog.payments
        WHERE booking_id = #{bookingId}
    </select>

  <select id="listPaymentsByUserId" resultMap="bookingPaymentMap">
        SELECT
               booking_id,
               date,
               total
        FROM inprog.payments
        WHERE user_id = #{userId}
    </select>

  <update id="updatePayment" parameterType="BookingPayment">
    UPDATE inprog.payments
    <set>
      <if test="userId != null">user_id = #{userId},</if>
      <if test="bookingId != null">booking_id = #{bookingId},</if>
      <if test="date != null">date = #{date}</if>
      <if test="total != null or -total >= 0">total = inprog.total_price(#{roomId}, #{amountOfDays})</if>
    </set>
    WHERE booking_id = #{id}
  </update>

  <delete id="deletePayment">
        DELETE
        FROM inprog.payments
        WHERE payment_id = #{id}
   </delete>

  <delete id="deletePaymentByBookingId">
        DELETE
        FROM inprog.payments
        WHERE booking_id = #{bookingId}
  </delete>
</mapper>